.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(10,0,20,0.7), rgba(10,0,20,0.7)), url("./assets/cover image.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;
}

.hero h1 {
    margin-bottom: 40px;
    color: #a7bd93;
}

span{
    color: #97af81;
}